* {
  box-sizing: border-box;
}

.footer {
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px 35px 20px 40px;
}

.form {
  display: flex;
  .Message-box {
    height: 50px;
    width: 100%;
    margin-right: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    &__text {
      height: 50px;
      width: 100%;
      padding: 0 10px;
      border: none;
    }
    &__image {
      font-size: 25px;
      position: absolute;
      right: 10px;
      &__file {
        display: none;
      }
    }
  }
  .send-btn {
    height: 50px;
    background-color: #38aef0;
    font-size: 16px;
    color: #ffffff;
    padding: 0 30px;
    border: none;        
  }
}